@charset "utf-8";

/*Map*/
#contents {
	padding: 30px 0;
	line-height: 1.5;
}
#contents .city {
	margin-bottom: 30px;
}
#contents .city h3 {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 20px;
}
#contents .city iframe {
	margin-bottom: 30px;
}
#contents .city .info li {
	font-size: 14px;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}
#contents .city .info li > span {
	width: 70px;
	font-weight: 700;
}
#contents .city .info li > p {
	width: calc(100% - 70px);
}

/*Email*/
#contents .email {
	border-top: 1px solid #777;
	padding-top: 50px;
}
#contents .email li {
	font-size: 14px;
	margin-bottom: 30px;
}
#contents .email .email-address {
	font-weight: 700;
	margin-bottom: 10px;
}
#contents .email .email-address i {
	margin-right: 15px;
}
#contents .email li > p {
	padding-left: 20px;
	text-indent: 15px;
}
#contents .email li b {
	font-weight: 700;
}

@media screen and (min-width: 768px) {
	#contents {
		padding: 50px 0;
	}
	#contents .city h3 {
		font-size: 30px;
		margin-bottom: 30px;
	}
	#contents .city .info li,
	#contents .email li {
		font-size: 16px;
	}
	#contents .city .info li > span {
		width: 100px;
	}

	#contents .email li {
		display: flex;
		justify-content: flex-start;
	}
	#contents .email .email-address {
		width: 200px;
	}
	#contents .email li > p {
		width: calc(100% - 200px);
		padding-left: 0px;
	}
}

@media screen and (min-width: 1200px) {
	#contents {
		padding: 80px 0;
	}
	#contents .city h3 {
		font-size: 32px;
		margin-bottom: 40px;
	}
	#contents .city iframe {
		margin-bottom: 40px;
	}
	#contents .city .info li {
		margin-bottom: 30px;
	}

	#contents .email {
		border-top: 1px solid #777;
		padding-top: 60px;
	}
	#contents .email li {
		margin-bottom: 40px;
	}
}
